soapproject/src/main/resources/api/dataManipulation.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/dataManipulation/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="dataManipulation" targetNamespace="http://www.example.org/dataManipulation/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/dataManipulation/">
      <xsd:element name="concatOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="input1" type="xsd:string" />
          	<xsd:element name="input2" type="xsd:string"></xsd:element>
          	<xsd:element name="input3" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="concatOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="output1" type="xsd:string" />
          	<xsd:element name="output2" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="concatOperationRequest">
    <wsdl:part element="tns:concatOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="concatOperationResponse">
    <wsdl:part element="tns:concatOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="dataManipulation">
    <wsdl:operation name="concatOperation">
      <wsdl:input message="tns:concatOperationRequest"/>
      <wsdl:output message="tns:concatOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dataManipulationSOAP" type="tns:dataManipulation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="concatOperation">
      <soap:operation soapAction="http://www.example.org/dataManipulation/concatOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dataManipulation">
    <wsdl:port binding="tns:dataManipulationSOAP" name="dataManipulationSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
